{% extends 'base.html' %} 

{% block head %}
<title>POPODOMUS</title>
<script href="script.js"></script>
{% endblock %} 

{% block body %}

    <h1 style="text-align: center">POPODOMUS</h1>
    {% if houses|length < 1 %}
    <h4 style="text-align: center">There are no houses, fill out the preference form below!</h4>
    {% else %}

    <!-- <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Apply filters">
        </form>
    </div> -->
<a href="/sell">link for sellers</a>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <th>Price</th>
            <th>Location</th>
            <th>No. of bedrooms</th>
            <th>Website</th>
            <th>Square feet</th>

        </tr>
        {% for house in houses %}
        <tr>
            <td>{{ house.price }}</td>
            <td>{{ house.location }}</td>
            <td>{{ house.num_bedrooms }}</td>
            <td><a href="{{ 'house.website' }}"> link </a></td>
            <td>{{ house.sqrft }} </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}